<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuário</title>
</head>
<body>
    <h1>Cadastro de Usuário</h1>

    <% if (error) { %>
        <div style="color: blue;"><%= error %></div>
    <% } %>

    <form action="/user" method="POST">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" required>
        <label for="password">Senha:</label>
        <input type="password" id="password" name="password" required>
        <input action="/Users" type="submit" value="cadastro" required>
        <!-- <button type="submit">Cadastrar</button> -->
    </form>
    <br>
    <a href="/login">Já tem uma conta? Faça login</a>
</body>
</html>